#####################################################################
# CUSTOM COREXY - SKR 1.4 / SKR 1.4 TURBO
# NORMAL PRINT MODE
# WORKING DRIVER SLOTS: X, Y, Z, E1
#
# DRIVER USAGE:
# X  -> stepper_x
# Y  -> stepper_y
# Z  -> both Z motors together on one driver
# E1 -> extruder
#
# IMPORTANT:
# - Both Z motors must be connected to the single Z driver
# - Z_TILT_ADJUST is disabled in this mode
#####################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_29800110A980DF953E6EAD62C02000F5-if00

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 15
max_z_accel: 200
square_corner_velocity: 5.0

#####################################################################
# X STEPPER
#####################################################################

[stepper_x]
step_pin: P2.2
dir_pin: P2.6
enable_pin: !P2.1
microsteps: 16
rotation_distance: 40
endstop_pin: P1.29
position_endstop: 0
position_max: 300
homing_speed: 50

[tmc2208 stepper_x]
uart_pin: P1.10
run_current: 0.80
hold_current: 0.50
stealthchop_threshold: 999999

#####################################################################
# Y STEPPER
#####################################################################

[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
microsteps: 16
rotation_distance: 40
endstop_pin: P1.28
position_endstop: 0
position_max: 300
homing_speed: 50

[tmc2208 stepper_y]
uart_pin: P1.9
run_current: 0.80
hold_current: 0.50
stealthchop_threshold: 999999

#####################################################################
# Z STEPPER
# BOTH Z MOTORS MUST BE CONNECTED TO THIS ONE DRIVER
#####################################################################

[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 300
position_min: -3
homing_speed: 10
second_homing_speed: 3

[tmc2208 stepper_z]
uart_pin: P1.8
run_current: 0.90
hold_current: 0.50
stealthchop_threshold: 999999

#####################################################################
# EXTRUDER ON E1 DRIVER
#####################################################################

[extruder]
step_pin: P1.15
dir_pin: P1.14
enable_pin: !P1.16
microsteps: 16
rotation_distance: 7.0
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 285
pressure_advance: 0.00
min_extrude_temp: 170

[tmc2208 extruder]
uart_pin: P1.1
run_current: 0.80
hold_current: 0.50
stealthchop_threshold: 999999

#####################################################################
# BED
#####################################################################

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

#####################################################################
# FANS
#####################################################################

# Part cooling fan
[fan]
pin: P2.3

# Hotend heatsink fan
[heater_fan hotend_fan]
pin: P2.4
heater: extruder
heater_temp: 50.0

#####################################################################
# BLTOUCH
#####################################################################

[bltouch]
sensor_pin: ^P0.10
control_pin: P2.0
x_offset: -42
y_offset: -10
z_offset: 0
speed: 10
samples: 2
sample_retract_dist: 5.0
stow_on_each_sample: True
pin_up_reports_not_triggered: True
pin_up_touch_mode_reports_triggered: False
probe_with_touch_mode: False

[safe_z_home]
home_xy_position: 150,150
speed: 80
z_hop: 10
z_hop_speed: 15

#####################################################################
# BED MESH
#####################################################################

[bed_mesh]
speed: 100
horizontal_move_z: 8
mesh_min: 20,20
mesh_max: 258,290
probe_count: 5,5
algorithm: bicubic
fade_start: 1
fade_end: 10

#####################################################################
# VIRTUAL SD / STATUS / PAUSE
#####################################################################

[virtual_sdcard]
path: ~/printer_data/gcodes

[display_status]

[pause_resume]

#####################################################################
# Z OFFSET CALIBRATION BUTTON
#####################################################################

[gcode_macro CALIBRATE_Z_OFFSET]
description: Start full Z offset calibration (auto + manual paper tuning)
gcode:
    M117 Z Offset Calibration...
    
    # Heat for real conditions (optional but recommended)
    # M140 S60
    # M104 S150
    # M190 S60
    # M109 S150

    # Clear mesh (important)
    BED_MESH_CLEAR

    # Home all axes
    G28

    # Move to safe center
    G90
    G1 X150 Y150 F6000

    # Start probe calibration
    PROBE_CALIBRATE

#####################################################################
# timelapse
#####################################################################
[include timelapse.cfg]

#####################################################################
# MACROS
#####################################################################

[gcode_macro START_PRINT]
gcode:
    G90
    M83
    BED_MESH_CLEAR
    G28
    BED_MESH_PROFILE LOAD=default
    G92 E0

[gcode_macro END_PRINT]
gcode:
    M400
    G92 E0
    G1 E-2 F2400
    G91
    G1 Z10 F1200
    G90
    G1 X10 Y290 F6000
    M104 S0
    M140 S0
    M106 S0

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    M106 S0
    BASE_CANCEL_PRINT